{% extends 'base.html.twig' %}

{% block title %}Liste des Catégories{% endblock %}

{% block body %}
<body class="bg-1">
<div class="container form-bg tables mx-auto my-5">
    <h1 class="text-center m-5 text-light mx-auto col-6 border-bottom border-danger">Liste des Catégories</h1>
    <table class="mb-5 col-12">
        <thead>
            <tr>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr class="text-end">
                <td class="fs-5">{{ category.name }}</td>
                <td class=" d-flex justify-content-center">
                    <a class="btn btn-outline-info" href="{{ path('app_category_show', {'id': category.id}) }}">Voir les Articles</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucune Catégorie disponible</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
{% endblock %}
