{% extends 'base.html.twig' %}

{% block title %}Nouvel Utilisateur{% endblock %}

{% block body %}
    <h1>Créer un nouvel Uutilisateur</h1>

    {{ include('subscriber/_form.html.twig') }}

{% endblock %}
