{% extends 'base.html.twig' %}

{% block title %}Inscription à la newsletter{% endblock %}

{% block body %}
<body class="bg-1">
    <div class="container form-bg tables mx-auto my-5">
            <h1 class="text-center my-4 m-auto text-light border-bottom border-danger col-5">S'inscrire à la Newletter</h1>

    {{ include('subscriber/_form.html.twig') }}
    </div>
</body>

{% endblock %}
