{% extends 'base.html.twig' %}

{% block title %}Edition de Catégorie{% endblock %}

{% block body %}
<body class="bg-1">
    <div class="container form-bg tables mx-auto my-5">
        <h1 class="text-center m-5">Editer la Catégorie</h1>
    <div class="container col-6">
    {{ include('admin_category/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    </div>
    <div class="container d-flex justify-content-center">
        {{ include('admin_category/_delete_form.html.twig') }}
    </div>

        <div class="d-flex justify-content-end mt-5">
            <a class="btn btn-outline-light my-2 d-flex justify-content-end" href="{{ path('app_admin_category_index') }}">Retour à la liste</a>
        </div>
    </div>
</body>
{% endblock %}
