{% extends 'base.html.twig' %}

{% block title %}Poster un commentaire{% endblock %}

{% block body %}
<div class="container">
    <h1>Poster un commentaire</h1>

    {{ include('review/_form.html.twig') }}
</div>
{% endblock %}
