<div class="container">

<h1>Demande de contact</h1>

<p> Vous avez reçu un mail de la part de Mr. {{contact.nom}} {{contact.prenom}}.</p>
<p>message : {{contact.content}}.
<p>adresse mail de contact : {{contact.mail}}</p>
</div>