<header>
        <nav class="navbar navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="">USImport</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                    <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="">Produits</a>
                    </li>
                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Admin
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="">Categories</a></li>
                        <li><a class="dropdown-item" href="">Produits</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" aria-disabled="true">Link</a>
                    </li>
                </ul>
                <form class="d-flex ms-auto" role="search" action="" method="GET">
                    <input class="form-control me-2" name="search" type="search" placeholder="Rechercher" aria-label="Search">
                    <button class="btn btn-outline-secondary" type="submit">
                        <i class="bi bi-search"></i>
                    </button>
                </form>
                <form class="d-flex mx-2">
                        <a class="btn btn-outline-light" href="">
                            <i class="bi-cart-fill me-1"></i>
                            Panier
                            <span class="badge text-white ms-2 rounded-pill">
                            {{ app.session.get('panier') ? app.session.get('panier')|length : '0' }}
                            </span>
                        </a>
                    </form>
                </div>
            </div>
        </nav>
    </header>