<form method="post" action="{{ path('app_admin_review_delete', {'id': review.id}) }}" onsubmit="return confirm('Etes-vous Sûr de vouloir supprimer ce commentaire ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ review.id) }}">
    <button class="btn btn-danger col-12">{{ button_label|default('Supprimer') }}</button>
</form>
