{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="container d-flex justify-content-center">
        <button class="btn btn-outline-info mb-2">{{ button_label|default('Enregistrer') }}</button>
    </div>
{{ form_end(form) }}
