{% extends 'base.html.twig' %}

{% block title %}Modifier un commentaire{% endblock %}

{% block body %}
<body class="bg-4">
    <div class="container form-bg tables mx-auto my-5">
        <h1 class="text-center m-5">Modification de Commentaire</h1>
        <div class="container col-10">
        {{ include('admin_review/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
        </div>

        <div class="container d-flex justify-content-center">
        {{ include('admin_review/_delete_form.html.twig') }}
        </div>

        <div class="d-flex justify-content-end mt-5">
            <a class="btn btn-outline-light mx-3" href="{{ path('app_admin_review_index') }}">Retour à la liste</a>
        </div>
    </div>
</body>
{% endblock %}
