{% extends 'base.html.twig' %}

{% block body %}
    <h1>erci pour votre commande</h1>
    <p>
      Votre commande a bien été Validée,
      Si vous avez besoin d'informations complémentaires contactez-nous
      <a href="{{ path('app_contact') }}">Ici</a>.
    </p>

{% endblock %}