{% extends 'base.html.twig' %}

{% block body %}
    <h1>Thanks for your order!</h1>
    <p>
      Merci pour votre commande
      Si vous avez besoin d'informations complémentaires contactez-nous
      <a href="mailto:orders@example.com">orders@example.com</a>.
    </p>

    {% for paniers in panier %}
        {{ panier }}
        {{ panier.quatity }}
    {% endfor %}
{% endblock %}